<div id="header">
    <button id="menu-toggle" type="button">
        <span class="sr-only">Toggle Navigation Menu</span>
    </button>
    <button id="search-toggle" type="button">
        <span class="sr-only">Toggle Search Form</span>
    </button>
    <a id="logo" href="/">
        <span class="sr-only">AnipGames</span>
    </a>
    <form id="search">
        <input id="searchQueryEdit" name="q" type="search" placeholder="Search..." value="" />
    </form>
    <ul id="menu" class="nav">
        <li class="{% if page.url != '/opensource/' and page.url != '/openapi/' and page.url != '/events/' %} active {% endif %}"><a href="{{ base_path }}/">블로그</a></li>
        <li class="{% if page.url == '/policies/' %} active {% endif %}"><a href="{{ base_path }}/policies/">게임서비스 이용약관</a></li>
        <li class="{% if page.url == '/privacy/' %} active {% endif %}"><a href="{{ base_path }}/privacy/">개인정보 처리방침</a></li>
    </ul>
</div><!-- #header -->
